#form-box {
  width: 40%;
  height: 650px;
  border: 2px solid #71a9da;
  border-radius: 4px;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;
  overflow: scroll;
}
